
*{ 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}


.wrapper {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  }

header {
  background: #222222;
  color: white;
  padding-top: 54px;
  padding-bottom: 118px;
}



.menu__left, .site__menu, .main__nav, .contact__menu, .about__us {
  display: flex;
  align-items: center;
}

.main__nav, .about__us {  
  justify-content: space-between;
}

.menu__left {
  gap: 62px;
}

.site__menu {  
  gap: 30px;
}

.site__menu a {
  transition: 1s;
}

.site__menu a:hover {
  transform: scale(1.5);
  
}

.contact__menu a:active {  
  color: rgb(36, 181, 154);
} 

.contact__menu {
  gap: 24px;
}

.about__us {
  margin-top: 26px;
}

.about__block {
  max-width: 227px; 
  margin-left: 124px;
}

.about__block h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 51px;
}

.about__block p {  
  font-size: 14px;
  line-height: 17px;
  margin-top: 30px;
  margin-bottom: 54px;
}

.btn  {  
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 25px;
   width: 215px;
   padding: 16px 26px;
   color: white;
   display: flex;
   justify-content: space-between;
 }
 
 .btn__black  {
  background: #222222;  
}

.btn__yellow  {
  background: #FFCB06;
  color: black;  
}

.advenchery {
  background-color: black;
  color: white;
  padding: 85px 0;

}
.advenchery__list, .up__row, .down__row {
  display: flex;
  justify-content: space-between;

}
.advenchery__list li {
  max-width: 170px;
  display: flex;
  flex-direction: column;
  gap: 34px;

}
.advenchery__list img {
  height: 68px;
  width: 60px;
}

.up__text {
  max-width: 454px;
}

.up__text h2, .down__row h2  {
font-weight: 700;
font-size: 24px;
line-height: 27px;
margin-bottom: 44px;
}

.moon__vacation {
  padding-top: 80px;
  padding-bottom: 122px;
}

.recomendation__left {
  max-width: 460px;
}

.recomendation__right {
  max-width: 454px;
}

.down__row {
  margin-top: 52px;
}

.down__row li img {  
  margin-right: 23px;  
}

.recomendation__list {
  flex-direction: column;
  display: flex;
  gap:  40px;
}

.form__section {
  padding: 90px 0;
  background: #F0F0F0;
}

.form_description {

  max-width: 339px; 
  flex-direction: column;
  display: flex;
  gap: 60px;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
}

.form_block input {
  padding: 16px 23px;
  border: none;
}

.input__field {
  width: 440px;
}

.field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__section h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

.flight__schedule {
  padding: 90px 0;
  background: #222222;
}

.flight__wrapper {
  
  justify-content: space-between;
}

.flight__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px; 
}

.flight__menu h4 {
  font-size: 24px;
  line-height: 27px;  
  color: #FECA30;
}

.flight__menu p {
  color: #D4D4D4;
  max-width: 467px;
}

.table__flight {
  color: #F0F0F0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.table__header {
  background-color: black;
}

.table__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;  
}

.table__row div {
  min-width: 110px;
  
}

.table__row:not(:first-child) {
  border-bottom: #555555 1px solid;
}

footer {
  color: #D4D4D4;
  background: #131313;
  padding:  70px 0;
}

.footer__wrapper {

  display: flex;
  justify-content: space-between;
}

.footer__top {
  width: 100%;
  display: flex;
  

}
.logo {
  display: flex;
  align-items: center;
}

.footer__block h2 {
  font-size: 14px;
  width: 180px;
  border-bottom: #F0F0F0 1px solid;
  padding-bottom: 10px;
}

.footer__block {

  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer__links {

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__links a {

  color:#888888;
}

.footer__logo {

  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.footer__copyright {

  max-width: 162px;
  color:#888888;
}